<form #frm="ngForm" autocomplete="off" (submit)=" onSubmit(frm)">
    <input [hidden]="true" #PMId="ngModel" name="PMId" [(ngModel)]="_PaymentDetailService.formData.PMId" class="form-control" >
  <div class="form-group">
      <select required class="custom-select custom-select-sm form-control" name="user" #user="ngModel"  [(ngModel)]="_PaymentDetailService.formData.UsuarioId">
          <option *ngFor="let us of _UserService.lst; " [value]="us.UsuarioId" >{{us.Nombre}}</option>
        </select>
  </div>
    <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <div class="input-group-text bg-white">
          <i class="fas fa-user-circle" [class.green-icon]="CardOwnerName.valid" [class.red-icon]="CardOwnerName.invalid &&CardOwnerName.touched"></i>
        </div>
      </div>
      <input required name="CardOwnerName" #CardOwnerName="ngModel" [(ngModel)]="_PaymentDetailService.formData.CardOwnerName" class="form-control" placeholder="Card Owner Name">
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text bg-white">
            <i class="fas fa-credit-card"  [class.green-icon]="CardNumber.valid" [class.red-icon]="CardNumber.invalid &&CardNumber.touched"></i>
          </div>
        </div>
        <input maxlength="16" minlength="16" required name="CardNumber" #CardNumber="ngModel" [(ngModel)]="_PaymentDetailService.formData.CardNumber" class="form-control" placeholder="16 digit Card Number">
      </div>
  </div>
  <div class="form-row">
  <div class="form-group col-md-7">
      <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text bg-white">
              <i class="fas fa-calendar-alt" [class.green-icon]="ExpirationDate.valid" [class.red-icon]="ExpirationDate.invalid &&ExpirationDate.touched"></i>
            </div>
          </div>
          <input  maxlength="5" minlength="5" required name="ExpirationDate" #ExpirationDate="ngModel" [(ngModel)]="_PaymentDetailService.formData.ExpirationDate" class="form-control" placeholder="MM/YY">
        </div>
  </div>
  <div class="form-group col-md-5">
        <div class="input-group ">
            <div class="input-group-prepend">
              <div class="input-group-text bg-white">
                <i class="fas fa-key"  [class.green-icon]="cvv.valid" [class.red-icon]="cvv.invalid &&cvv.touched"></i>
              </div>
            </div>
            <input  maxlength="3" minlength="3" required type="password" name="cvv" #cvv="ngModel" [(ngModel)]="_PaymentDetailService.formData.cvv" class="form-control" placeholder="Cvv ">
          </div>
  </div>
</div>
  <div class="form-group">
    <button [disabled]="frm.invalid" class="btn btn-success btn-lg btn-block" type="submit" > <i class="fas fa-database"></i>Submit</button>
  </div>
</form>
